*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #242424 !important;
  color: aliceblue !important;
}
.navbar{
  box-shadow: 0 1px 5px white;
}


.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}

.chat-box {
  width: 50%;
  background: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.chat-header {
  background: #007bff;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.chat-body {
  padding: 20px;
  height: 300px;
  overflow-y: auto;
  color: white;
}

.chat-message {
  padding: 10px;
  margin-left: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.chat-ans-message{
  padding: 10px;
  margin-right: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.bot-message {
  background: #333;
  width: fit-content;
}

.chat-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #444;
  background: #222;
}

.chat-input {
  flex-grow: 1;
  margin-right: 10px;
  background: #333;
  border: 1px solid #444;
  color: white;
}

.chat-input::placeholder {
  color: #aaa;
}
